<div class="ns-email-editor">
    <div class="email-editor-canvas">

        <div class="email-editor-layout-wrapper">

            <div class="email-editor-layout" ng-style="{'background-color': vm.settingWithFallback(email.settings.backgroundColor,'backgroundColor')}">
                <div dragula="'rows-bag'" dragula-model="vm.email.rows">
                    <!-- Email Rows -->
                    <div ng-repeat="row in vm.email.rows" 
                         class="email-editor-row"
                         ng-class="{'fullwidth' : row.fullWidth, 'selected' : row == vm.selectedRow}" 
                         ng-click="vm.toggleSelectRow(row)">

                        <div class="email-row-drop-container"></div>

                        <div class="email-section-wrapper" 
                             ng-style="{
                                'background-color': vm.settingWithFallback(row.backgroundColor,'rowBackgroundColor'),
                                'background-image': vm.getRowBackgroundStyle(row)
                             }"
                             style="background-size:cover;background-position: center;"
                            >
                            <div class="email-editor-section-container">
                                <div ng-repeat="column in row.columns"
                                     class="email-editor-column email-editor-col-{{column.columns}}"
                                     ng-class="{'empty-column' : column.controls.length == 0}">

                                    <div class="dragula" dragula="'controls-bag'" dragula-model="column.controls">

                                        <div ng-repeat="control in column.controls"
                                             ng-click="vm.toggleSelectControl($event, control)"
                                             ng-class="{'selected' : control == vm.selectedControl}"
                                             class="email-editor-cell">

                                            <div class="email-editor-control">
                                                <div ng-if="vm.selectedControl == control" class="control-actions selectable-actions">
                                                    <a href="" ng-click="vm.removeControl($event,column,control)" localize="title" title="ns_remove"><i class="icon-trash"></i></a>
                                                    <a href="" ng-click="vm.duplicateControl($event,column,control)" localize="title" title="ns_duplicate"><i class="icon-screensharing"></i></a>
                                                </div>

                                                <ng-include src="vm.getViewRender(control)"></ng-include>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div ng-if="vm.selectedRow == row" class="control-actions selectable-actions">
                            <a href="" ng-click="vm.removeRow($event,row)" localize="title" title="ns_remove"><i class="icon-trash"></i></a>
                            <a href="" ng-click="vm.duplicateRow($event,row)" localize="title" title="ns_duplicate"><i class="icon-screensharing"></i></a>
                            <span class="handle" localize="title" title="ns_move"><i class="icon-navigation handle"></i></span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="ns-email-editor-add-row-wrapper">

                <a href="" class="ns-btn-dotted" ng-click="vm.addRowState = 'choose'" ng-show="vm.addRowState==='init'">
                    <localize key="ns_addRow"></localize>
                </a>

                <div ng-show="vm.addRowState==='choose'">
                    <div ng-click="vm.addRow(1)">
                        <div>
                            <span></span>
                        </div>
                        <div>1 <ns-localize key="ns_column" lower-case-first="true"></ns-localize></div>
                    </div>
                    <div ng-click="vm.addRow(2)">
                        <div>
                            <span></span>
                            <span></span>
                        </div>
                        <div>2 <localize key="ns_columns"></localize></div>
                    </div>
                    <div ng-click="vm.addRow(4)">
                        <div>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div>4 <localize key="ns_columns"></localize></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbox">


            <ul class="tabs">
                <li ng-click="vm.setToolboxTab('insert')" ng-class="{'current' : vm.toolboxTabActive == 'insert'}">
                    <a href=""><localize key="ns_insert"></localize></a>
                </li>
                <li ng-click="vm.setToolboxTab('control')" ng-class="{'current' : vm.toolboxTabActive == 'control','disabled' : !vm.selectedControl}">
                    <a href=""><localize key="ns_control"></localize></a>
                </li>
                <li ng-click="vm.setToolboxTab('row')" ng-class="{'current' : vm.toolboxTabActive == 'row','disabled' : (!vm.selectedRow && !vm.selectedControl)}">
                    <a href=""><localize key="ns_row"></localize></a>
                </li>
                <li ng-click="vm.setToolboxTab('settings')" ng-class="{'current' : vm.toolboxTabActive == 'settings'}">
                    <a href=""><localize key="ns_settings"></localize></a>
                </li>
            </ul>

            <div ng-show="vm.toolboxTabActive == 'insert'" class="toolbox-box">

                <div class="insert-control-wrapper" dragula='"controls-bag"' dragula-model='vm.source' data-toolbox="">
                    <div ng-repeat='text in vm.source' class="tool">
                        <div>
                            <div ng-if="text.iconSvg" style="margin-top: 9px;">
                                <ns-html html="text.iconSvg"></ns-html>
                            </div>
                            <i ng-if="text.icon" class="{{text.icon}} large"></i>

                            <span>
                                <localize key="{{'ns_control_' + text.controlTypeAlias}}"></localize>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-show="vm.toolboxTabActive == 'control'" class="toolbox-box">
                <ng-form>
                    <ng-include ng-if="vm.selectedControl"
                                src="vm.getViewEdit(vm.selectedControl)">
                    </ng-include>
                </ng-form>
            </div>
            <div ng-show="vm.toolboxTabActive == 'row'" class="toolbox-box">
                <div ng-if="vm.selectedRow">
                    <ng-form>
                        <ns-umb-property label="ns_fullWidth">
                            <input type="checkbox" ng-model="vm.selectedRow.fullWidth" />
                        </ns-umb-property>
                        <ns-umb-property label="ns_stackOnSmallScreens">
                            <input type="checkbox" ng-model="vm.selectedRow.stackOnSmallScreen" />
                        </ns-umb-property>
    
                        <ns-umb-property label="ns_background">
                            <ns-color-picker ng-model="vm.selectedRow.backgroundColor" color-list="vm.themeColors"></ns-color-picker>
                        </ns-umb-property>
                        
                        <ns-umb-property label="ns_backgroundImage" ng-if="vm.rowImage">
                            <umb-property-editor model="vm.rowImage"></umb-property-editor>
                        </ns-umb-property>
                    </ng-form>
                </div>
            </div>
            <div ng-show="vm.toolboxTabActive == 'settings'" class="toolbox-box">

                <ns-umb-property label="ns_background" class="ns-property-group">
                    <ns-color-picker ng-model="vm.email.settings.backgroundColor" color-list="vm.themeColors"></ns-color-picker>
                </ns-umb-property>

                <ns-umb-property label="ns_buttonBlockSettings" class="ns-property-group">
                    
                    <ns-font-picker ng-model="vm.email.settings.controlButtonFontFamily" item-groups="vm.fonts">
                    </ns-font-picker>

                    <div class="two-cols" style="margin-top: 10px;">
                        <div>
                            <p><localize key="ns_backgroundColor"></localize></p>
                            <ns-color-picker ng-model="vm.email.settings.controlButtonBackgroundColor" color-list="vm.themeColors"></ns-color-picker>
                        </div>
                        <div>
                            <p><localize key="ns_textColor"></localize></p>
                            <ns-color-picker ng-model="vm.email.settings.controlButtonTextColor" color-list="vm.themeColors" picker-to="left"></ns-color-picker>
                        </div>
                    </div>
                </ns-umb-property>

                <ns-umb-property label="ns_textBlockSettings" class="ns-property-group">

                    <div class="ns-property-group">
                        <div class="two-cols grow-first">
                            <div>
                                <ns-font-picker ng-model="vm.email.settings.controlTextFontFamily" item-groups="vm.fonts">
                                </ns-font-picker>
                            </div>
                            <div>
                                <ns-font-size-picker ng-model="vm.email.settings.controlTextFontSize"></ns-font-size-picker>
                            </div>
                        </div>
                        <div class="two-cols" style="margin-top: 10px;">
                            <div>
                                <p><localize key="ns_textColor"></localize></p>
                                <ns-color-picker ng-model="vm.email.settings.controlTextTextColor" color-list="vm.themeColors"></ns-color-picker>
                            </div>
                            <div>
                                <p><localize key="ns_linkColor"></localize></p>
                                <ns-color-picker ng-model="vm.email.settings.controlTextLinkColor" color-list="vm.themeColors"></ns-color-picker>
                            </div>
                        </div>
                    </div>
                </ns-umb-property>

                <ns-umb-property label="ns_heading1Settings" class="ns-property-group">

                    <div class="two-cols grow-first">
                        <div>
                            <ns-font-picker ng-model="vm.email.settings.controlTextHeading1FontFamily" item-groups="vm.fonts">
                            </ns-font-picker>
                        </div>
                        <div>
                            <ns-font-size-picker ng-model="vm.email.settings.controlTextHeading1FontSize"></ns-font-size-picker>
                        </div>
                    </div>

                </ns-umb-property>

                <ns-umb-property label="ns_heading2Settings" class="ns-property-group">

                    <div class="two-cols grow-first">
                        <div>
                            <ns-font-picker ng-model="vm.email.settings.controlTextHeading2FontFamily" item-groups="vm.fonts">
                            </ns-font-picker>
                        </div>
                        <div>
                            <ns-font-size-picker ng-model="vm.email.settings.controlTextHeading2FontSize"></ns-font-size-picker>
                        </div>
                    </div>

                </ns-umb-property>


                <ns-umb-property label="ns_heading3Settings" class="ns-property-group">

                    <div class="two-cols grow-first">
                        <div>
                            <ns-font-picker ng-model="vm.email.settings.controlTextHeading3FontFamily" item-groups="vm.fonts">
                            </ns-font-picker>
                        </div>
                        <div>
                            <ns-font-size-picker ng-model="vm.email.settings.controlTextHeading3FontSize"></ns-font-size-picker>
                        </div>
                    </div>

                </ns-umb-property>
                
            </div>
            
        </div>
    </div>
</div>