<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e4508b8-08d7-4eb0-9173-c28cf00f0012" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>list of articles</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9dddcd7a-f043-4ee4-aebb-0daf4ac1e02d">contentProperties</Composition>
      <Composition Key="dcdf1b26-eafe-437e-b92d-42e94e987afa">headerProperties</Composition>
      <Composition Key="0563d1f7-09a0-411c-9619-e7f8d5f5a50e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ba1c1a2-b45c-4818-aae0-5a9dc76b39c3">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>