<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99f66832-2f73-4173-9b35-fcf013a2d195" Alias="contentPage" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9dddcd7a-f043-4ee4-aebb-0daf4ac1e02d">contentProperties</Composition>
      <Composition Key="dcdf1b26-eafe-437e-b92d-42e94e987afa">headerProperties</Composition>
      <Composition Key="0563d1f7-09a0-411c-9619-e7f8d5f5a50e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ed6202b5-a0f7-4d80-b911-fe1adb5d12a3">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>