<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="05d8443b-5820-407d-b286-b342e6b4412d" Alias="featuredItemsRowSettings" Level="4">
  <Info>
    <Name>Featured Items Row Settings</Name>
    <Icon>icon-settings-alt-2 color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Block/Setting+Models</Folder>
    <Compositions>
      <Composition Key="0563d1f7-09a0-411c-9619-e7f8d5f5a50e">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>