<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c8d8cf4-a667-45ec-9850-0069c974b8c5" Alias="governorateList" Level="3">
  <Info>
    <Name>GovernorateList</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Admin</Folder>
    <Compositions />
    <DefaultTemplate>GovernorateList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="12c43b30-fde9-4be9-bc9e-86f9b4373f29">GovernorateList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1e6d2b26-630e-41ae-b5aa-2e2b4afafc88" SortOrder="0">governorate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>