<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="143ee4cf-4ab3-4d12-9ab6-d9bbc79f796e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="27ceb87d-12de-4184-9412-8aeaf49d39a6">footerProperities</Composition>
      <Composition Key="dcdf1b26-eafe-437e-b92d-42e94e987afa">headerProperties</Composition>
      <Composition Key="0279e9e8-81e5-48c3-92e5-ca061ee36b34">siteNavigationProperities</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7c0cf878-b3b7-4936-887a-6a2cce63cb3c">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="99f66832-2f73-4173-9b35-fcf013a2d195" SortOrder="0">contentPage</ContentType>
    <ContentType Key="5e4508b8-08d7-4eb0-9173-c28cf00f0012" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="f8df088c-e331-4c49-a59f-eab1f5faf12b" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>