<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e6c18d8-07c4-405c-ac7b-0cf50312dabd" Alias="imageLinkSettings" Level="4">
  <Info>
    <Name>Image Link Settings</Name>
    <Icon>icon-settings-alt-2 color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Block/Setting+Models</Folder>
    <Compositions>
      <Composition Key="c2b5c01f-306d-499c-8216-0bdfce3050f9">blockVisiablitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>