<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fec6321-94d3-43d7-9369-c4eee2a20e2e" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Block/Content+Models</Folder>
    <Compositions>
      <Composition Key="107dbc10-7aa0-43b4-98d6-5264e0707533">descriptionProperity</Composition>
      <Composition Key="a5b1d316-3087-4336-b58c-aca243bb2f9d">imageProperity</Composition>
      <Composition Key="1ee01871-e7f0-4209-aac9-dcd909053ebf">linkProperity</Composition>
      <Composition Key="59ed722f-f22d-4c78-84d8-7365762cc7f5">titleProperities</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>