<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="57b2131b-7687-4ffb-9977-101523d4cdf7" Alias="richTextRowSettings" Level="4">
  <Info>
    <Name>Rich Text row Settings</Name>
    <Icon>icon-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Block/Setting+Models</Folder>
    <Compositions>
      <Composition Key="c2b5c01f-306d-499c-8216-0bdfce3050f9">blockVisiablitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>