<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0563d1f7-09a0-411c-9619-e7f8d5f5a50e" Alias="visibilityProperties" Level="2">
  <Info>
    <Name>Visibility Properties</Name>
    <Icon>icon-defrag color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0afc8127-10bd-48a8-9e86-d32bce33f1a6</Key>
      <Name>visibility Hide</Name>
      <Alias>visibility_Hide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[set this to true if you want to hide page from main menu]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="visibility1">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>80f55d0c-a69b-44cb-9180-33bb03e0ad0d</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility1</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>