<div class="ns-transactionalEmailPicker">
    <ng-form name="transactionalEmailPickerForm">
        <div ng-if="vm.showPickerModal" class="ns-inline-dialog">
            <div>
                <div ng-if="vm.data.workspaces.length > 1">
                    <select ng-model="vm.pickedWorkspaceKey" ng-change="vm.workspaceChanged()">
                        <option value="" ns-localize-inner="ns_option_choose_workspace"></option>
                        <option ng-repeat="workspace in vm.data.workspaces" value="{{workspace.key}}">
                            {{workspace.name}}</option>
                    </select>
                </div>
                <div>
                    <select ng-model="vm.pickedTransactionalEmailKey" ng-disabled="!vm.pickedWorkspaceKey">
                        <option value="" ns-localize-inner="ns_option_choose_email"></option>
                        <option ng-repeat="list in vm.getTransactionalEmails()" value="{{list.key}}">
                            {{list.name}}</option>
                    </select>
                </div>
                <nav>
                    <button ng-click="vm.setSelection()" class="btn btn-success">
                        <localize key="ns_choose"></localize>
                    </button>
                    <button ng-click="vm.closePicker()" class="btn btn-link">
                        <localize key="ns_close"></localize>
                    </button>
                </nav>
            </div>
        </div>

        <div ng-if="vm.data">
            <div ui-sortable="vm.sortableOptions" ng-model="vm.data.model">
                <div class="ns-transactionalEmailPicker-selection" ng-repeat="model in vm.data.model">
                    <div class="ns-transactionalEmailPicker-selection--{{model.selectionType}}" ng-class="{'ns-transactionalEmailPicker-selection--sortable' : vm.sortableOptions.disabled === false}">
                        <div ng-if="model.selectionType==='found'">
                            <i class="icon-message"></i>
                            <div>
                                {{model.transactionalEmailName}}
                                <span ng-if="vm.data.workspaces.length > 1">
                                <localize key="ns_workspace"></localize>: {{model.workspaceName}}
                                </span>
                            </div>
                        </div>
                        <div ng-if="model.selectionType==='removed'">
                            <i class="icon-trash"></i>
                            <div>
                                <localize key="ns_picker_selectedListHasBeenRemoved"></localize>
                            </div>
                        </div>
                        <div ng-if="model.selectionType==='noaccess'">
                            <i class="icon-lock"></i>
                            <div>
                                <localize key="ns_picker_noAccessToSelectedList"></localize>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-link" ng-click="vm.removeSelection(model)">
                            <localize key="ns_remove"></localize>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <a href="" class="umb-node-preview-add" ng-click="vm.openPicker()" ng-show="vm.showAdd()">
                    <localize key="ns_choose"></localize>
                </a>
            </div>
        </div>

        <input type="hidden" name="minCount" ng-model="vm.data.model" />
        <input type="hidden" name="maxCount" ng-model="vm.data.model" />

        <div ng-messages="transactionalEmailPickerForm.minCount.$error" show-validation-on-submit >
            <div class="help-inline" ng-message="minCount">
                <localize key="validation_minCount">You need to add at least</localize> {{vm.configuration.min}} <localize key="validation_items">items</localize>
            </div>
        </div>
        <div ng-messages="transactionalEmailPickerForm.maxCount.$error" show-validation-on-submit >
            <div class="help-inline" ng-message="maxCount">
                <localize key="validation_maxCount">You can only have</localize> {{vm.configuration.max}} <localize key="validation_itemsSelected">items selected</localize>
            </div>
        </div>
    </ng-form>
</div>
