<div class="ns-color-picker">
    <div class="ns-color-picker-wrapper">
        <button ng-click="showPalette($event)" ng-class="{'no-color' : !ngModel}" ng-style="{'background-color' : ngModel}"></button>
        <input type="text" 
               ng-model="ngModel" 
               ng-click="select($event)" 
               placeholder=""
               ng-change="addHexIfNeeded()"
               />
    </div>
    <div class="palette" ng-show="shouldShowPalette" 
         em-click-outside="clickOutside()" 
         is-active="shouldCloseOnClickOutside" 
         ng-class="{'to-left' : pickerTo == 'left'}">
        
        <div class="colors">
            <div ng-click="setColor('')"
                 class="color light-color no-color"
                 title="Unset color">
            </div>
            <div class="color" ng-repeat="color in selectableColors" 
                 ng-style="{'background-color': color}" 
                 ng-class="{'light-color' : isLightColor(color)}" 
                 ng-click="setColor(color)">
            </div>
        </div>
        
        <div class="custom-color">
            <button class="pickr-button btn btn-small">
                <i class="icon icon-colorpicker"></i>
                <localize key="ns_customColor">Custom Color</localize>
            </button>
        </div>
    </div>
</div>