<div class="ns-link-editor">
    
    <ul class="ns-toggle-button">
        <li ng-click="vm.linkType='content'" ng-class="{'selected' : vm.linkType == 'content'}"><localize key="ns_content"></localize></li>
        <li ng-click="vm.linkType='media'" ng-class="{'selected' : vm.linkType == 'media'}"><localize key="ns_media"></localize></li>
        <li ng-click="vm.linkType='url'" ng-class="{'selected' : vm.linkType == 'url'}"><localize key="ns_url"></localize></li>
        <li ng-click="vm.linkType='field'" ng-class="{'selected' : vm.linkType == 'field'}"><localize key="ns_field"></localize></li>
    </ul> 

    <div ng-if="vm.linkType=='content'" class="obvi-redirect-details">

        <umb-node-preview ng-if="vm.selectedContent"
                          icon="vm.selectedContent.icon"
                          name="vm.selectedContent.name"
                          description="vm.selectedContent.description"
                          alias="vm.selectedContent.name"
                          published="true"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="vm.removeSelectedContent()">
        </umb-node-preview>

        <button type="button" class="ns-link-choose" ng-click="vm.chooseContent()" ng-if="!vm.selectedContent">
            <localize key="ns_choose"></localize>
        </button>
    </div>
    
    <div ng-if="vm.linkType=='media'" class="obvi-redirect-details">

        <umb-node-preview ng-if="vm.selectedMedia"
                          icon="vm.selectedMedia.icon"
                          name="vm.selectedMedia.name"
                          description="vm.selectedMedia.description"
                          alias="vm.selectedMedia.name"
                          published="true"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="vm.removeSelectedMedia()">
        </umb-node-preview>

        <button type="button" class="ns-link-choose" ng-click="vm.chooseMedia()" ng-if="!vm.selectedMedia">
            <localize key="ns_choose"></localize>
        </button>
    </div>
    
    <div ng-if="vm.linkType=='url'" class="obvi-redirect-details">
        <input type="text" 
               ng-model="vm.destination.url" 
               placeholder="http://www.mysite.com/page" 
               required="true" 
               ng-change="vm.destinationUrlChanged()" 
               ng-blur="vm.validateDestination()" />

        <div class="help help-text-error" ng-if="vm.validation.invalidDestination">
            <p class="ns-error"><localize key="ns_linkEditor_invalid_url"></localize></p>
        </div>
    </div>
    
    <div ng-if="vm.linkType=='field'">
    
        <select name="typedModel" 
                ng-model="vm.selectedMergeField" 
                ng-change="vm.mergeFieldChanged()" 
                class="ns-select">
            
            <option value="" ns-localize-inner="ns_option_choose"></option>
            
            <optgroup label="{{group.label}}" ng-repeat="group in vm.mergeFieldGroups">
                <option value="{{option.value}}" ng-repeat="option in group.options">{{option.label}}</option>
            </optgroup>
        </select>
        
    </div>
    
</div>