<div>
    <div class="iframe-wrapper">
        <ns-preview-iframe src="vm.getPreviewUrl(campaign)"></ns-preview-iframe>
    </div>
</div>
<div>
    <div>
        <div>
          
        </div>
        <h4>
            <a ng-click="vm.openDraft(campaign)" ng-if="campaign.state !== 'sent'">{{campaign.name}}</a>
            <a ng-click="vm.openAnalytics(campaign)" ng-if="campaign.state == 'sent'">{{campaign.name}}</a>
        </h4>
        <span ng-if="campaign.umbracoContent">
            <small>(<localize key="ns_umbracoContent"></localize>)</small>
        </span>
    </div>
    <div>
        <p>
            <small ng-if="campaign.state == 'draft'"><ns-localize key="ns_createdBy"></ns-localize> {{campaign.creatorName}}, <strong><ns-localize key="ns_edited" lower-case-first="true"></ns-localize></strong> {{campaign.updated | date: 'short' : 'UTC'}}</small>
            <small ng-if="campaign.state == 'sending'"><ns-localize key="ns_createdBy"></ns-localize> {{campaign.creatorName}}, <strong><ns-localize key="ns_sending_now" lower-case-first="true"></ns-localize></strong></small>
            <small ng-if="campaign.state == 'scheduled'"><ns-localize key="ns_createdBy"></ns-localize> {{campaign.creatorName}}, <strong><ns-localize key="ns_scheduled" lower-case-first="true"></ns-localize></strong> {{campaign.scheduledSendDate | date: 'short' : 'UTC'}} <ns-localize key="ns_to" lower-case-first="true"></ns-localize> {{campaign.lists}}</small>
            <small ng-if="campaign.state == 'sent'"><ns-localize key="ns_createdBy"></ns-localize> {{campaign.creatorName}}, <strong><ns-localize key="ns_sent" lower-case-first="true"></ns-localize></strong> {{campaign.sentDate | date: 'short' : 'UTC'}} <ns-localize key="ns_to" lower-case-first="true"></ns-localize> {{campaign.lists}}</small>
            <small ng-if="campaign.state == 'error'"><ns-localize key="ns_createdBy"></ns-localize> {{campaign.creatorName}}, <strong><ns-localize key="ns_error" lower-case-first="true"></ns-localize></strong> something went wrong during the sendout.</small>
        </p>
    </div>
</div>
<div>
    <span ng-if="campaign.state == 'draft'" class="ns-alert {{'ns-alert-draft'}}" ng-class=""><localize key="ns_draft"></localize></span>
    <span ng-if="campaign.state == 'sending'" class="ns-alert {{'ns-alert-sending'}}" ng-class=""><localize key="ns_sending"></localize></span>
    <span ng-if="campaign.state == 'scheduled'" class="ns-alert {{'ns-alert-scheduled'}}" ng-class=""><localize key="ns_scheduled"></localize></span>
    <span ng-if="campaign.state == 'sent'" class="ns-alert {{'ns-alert-sent'}}" ng-class=""><localize key="ns_sent"></localize></span>
    <span ng-if="campaign.state == 'error'" class="ns-alert {{'ns-alert-error'}}" ng-class=""><localize key="ns_error"></localize></span>
</div>
<div>
    <div class="btn-group" ng-if="campaign.state != 'sending'">
        <a class="btn ns-btn-action btn-action"
           ng-click="vm.openDraft(campaign)" ng-if="campaign.state != 'sent'">
            <span><localize key="ns_edit"></localize></span>
        </a>
        <a class="btn ns-btn-action btn-action" ng-click="vm.openAnalytics(campaign)" 
           ng-if="campaign.state == 'sent'">
            <span><localize key="ns_report"></localize></span>
        </a>
        <a class="btn btn-action dropdown-toggle umb-button-group__toggle"
           ng-click="campaign.showActionMenu = !campaign.showActionMenu">
            <span class="caret"></span>
        </a>

        <umb-dropdown ng-if="campaign.showActionMenu" on-close="campaign.showActionMenu = false">
            <umb-dropdown-item>
                <a ng-click="vm.openDraft(campaign)" ng-if="campaign.state != 'sent'">
                    <localize key="ns_edit"></localize>
                </a>
            </umb-dropdown-item>
            <umb-dropdown-item>
                <a ng-click="vm.duplicate(campaign)" data-elm="c-duplicate">
                    <localize key="ns_duplicate"></localize>
                </a>
            </umb-dropdown-item>
            <umb-dropdown-item>
                <a ng-click="vm.delete(campaign)" data-elm="c-remove">
                    <localize key="ns_remove"></localize>
                </a>
            </umb-dropdown-item>
        </umb-dropdown>
    </div>
</div>
