<div ng-controller="NewsletterStudio.Controllers.EmailEditorControls.TextController as editVm" 
     ng-init="editVm.init(vm,vm.selectedControl)"
     class="ns-emaileditor-control-rte">
    
    <ns-umb-property label="ns_content">
        <umb-property-editor model="editVm.rteProperty"></umb-property-editor>
    </ns-umb-property>
    
    <ns-umb-property label="ns_textSettings">

        <div class="two-cols grow-first">
            <div>
                <ns-font-picker ng-model="editVm.control.fontFamily" item-groups="vm.fonts">
                </ns-font-picker>
            </div>
            <div>
                <ns-font-size-picker ng-model="editVm.control.fontSize"></ns-font-size-picker>
            </div>
        </div>
        <div class="two-cols">
            <ns-umb-property label="ns_textColor" description="">
                <ns-color-picker ng-model="editVm.control.textColor" color-list="vm.themeColors"></ns-color-picker>
            </ns-umb-property>
            <ns-umb-property label="ns_linkColor" description="">
                <ns-color-picker ng-model="editVm.control.linkColor" color-list="vm.themeColors" picker-to="left"></ns-color-picker>
            </ns-umb-property>
        </div>
    </ns-umb-property>

    <ns-umb-property label="ns_margin" description="">
        <ns-margin-editor ng-model="editVm.control.padding"></ns-margin-editor>
    </ns-umb-property>

</div>
