<div ng-controller="NewsletterStudio.Controllers.AdministrationManageController as vm">

    <form name="workspaceForm" ng-submit="vm.save(workspaceForm)" val-form-manager novalidate>
        <div class="ns-content-wrapper ns-administration-manage" ng-if="vm.model">

            <div class="ns-content-header ns-content-header-container">
                <div class="ns-content-header-left">
                    <div>
                        <a ng-href="{{vm.nsLocation.getViewPath('administration','','')}}" class="ns-backbutton"><i class="icon-arrow-left"></i></a>
                    </div>
                    <div>
                        <input type="text" name="workspaceName" ng-model="vm.model.name" required autocomplete="off" data-lpignore="true"/>
                    </div>
                </div>
                <div class="ns-content-header-right">
                    <p><localize key="ns_workspace_workspaceKey"></localize></p>
                    <p>{{vm.model.key}}</p>
                </div>

            </div>
            <div class="ns-content">
                <div class="ns-section">
                    <div class="ns-section-header">
                        <h5>
                            <localize key="ns_workspace_permissions"></localize>
                        </h5>
                        <div class="actions">
                            <button class="btn btn-outline" ng-click="vm.addPermissionsUserGroup()" type="button">
                                + <localize key="ns_workspace_permissionsAddGroup"></localize>
                            </button>
                            <button class="btn btn-outline" ng-click="vm.addPermissionsUser()" type="button">
                                + <localize key="ns_workspace_permissionsAddUser"></localize>
                            </button>
                        </div>
                    </div>

                    <div class="ns-box" ng-if="vm.model.access.length === 0">
                        <p>
                            <localize key="ns_workspace_permissionsNotConfigured"></localize>
                        </p>
                    </div>
                    <div ng-if="vm.model.access.length > 0">

                        <div class="ns-table ns-table-workspace-permissions">
                            <div class="ns-table-head">
                                <div class="ns-table-row">
                                    <div class="ns-table-cell"><!-- Icons --></div>
                                    <div class="ns-table-cell cell-name">
                                        <localize key="ns_name"></localize>
                                    </div>
                                    <div class="ns-table-cell cell-permissions">
                                        <localize key="ns_workspace_access"></localize>
                                    </div>
                                    <div class="ns-table-cell"><!-- Toggle arrow --></div>
                                </div>

                            </div>
                            <div class="ns-table-body">
                                <div class="ns-table-row" ng-repeat="access in vm.model.access">
                                    <div class="ns-table-cell">
                                        <i class="icon icon-users" ng-if="access.userGroupId"></i>
                                        <i class="icon icon-user" ng-if="access.userId"></i>
                                    </div>
                                    <div class="ns-table-cell cell-name" ng-click="access.open = !access.open">
                                        {{access.name}}
                                    </div>
                                    <div class="ns-table-cell ns-cell-permissions">
                                        <div class="ns-permissions-summery" ng-click="access.open = !access.open">
                                <span ng-repeat="locKey in vm.getLocalizationKeysFromPermissionAliases(access.permissions)">
                                    <localize key="{{locKey}}"></localize>{{$index < (access.permissions.length - 1) ? ', ' : ''}}
                                </span>
                                        </div>
                                        <div class="ns-permissions-change" ng-if="access.open">
                                            <ns-checkbox-list
                                                    options="vm.permissionTypes"
                                                    ng-model="access.permissions"
                                                    id-property="alias"
                                                    label-localization-key-property="localizationKey"
                                            >
                                            </ns-checkbox-list>
                                        
                                            <div>
                                                <button class="btn btn-danger btn-small"
                                                        ng-click="vm.accessRemove(access)" type="button">
                                                    <localize key="ns_workspace_removePermissions"></localize>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="ns-table-cell cell-toggle" ng-click="access.open = !access.open">
                                        <span class="icon-navigation-up" ng-class="{'open' : access.open}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ns-section">
                    <h5>
                        <localize key="ns_workspace_customFields"></localize>
                    </h5>
                    <div class="ns-box ns-workspace-settings-merge-fields">

                        <p>
                            <localize key="ns_workspace_customFieldsInfo"></localize>
                        </p>

                        <div class="ns-table ns-table-fill-box ns-table-no-shadow">
                            <div class="ns-table-head">
                                <div class="ns-table-row">

                                    <div class="ns-table-cell not-fixed">
                                        <localize key="ns_workspace_customFieldLabel"></localize>
                                    </div>
                                    <div class="ns-table-cell">
                                        <localize key="ns_workspace_customFieldAlias"></localize>
                                    </div>
                                    <div class="ns-table-cell"><!-- actions --></div>
                                </div>
                            </div>
                            <div class="ns-table-body ns-instant-validation">
                                <div class="ns-table-row" ng-repeat="field in vm.model.customFields">

                                    <div class="ns-table-cell not-fixed">
                                        <label class="control-group">
                                            <input type="text" name="customFieldLabel{{$index}}"
                                                   ng-model="field.fieldLabel" required/>
                                            <span ng-if="workspaceForm['customFieldLabel' + $index].$dirty && workspaceForm['customFieldLabel' + $index].$error.required">
                                                <localize key="ns_validationRequired"></localize>
                                            </span>
                                        </label>

                                    </div>
                                    <div class="ns-table-cell">
                                        <label class="control-group">
                                            <input type="text" name="mergeFieldAlias{{$index}}"
                                                   ng-model="field.mergeFieldAlias" required
                                                   ng-pattern="vm.regExCustomFieldAlias"/>
                                            <span ng-if="workspaceForm['mergeFieldAlias' + $index].$dirty && workspaceForm['mergeFieldAlias' + $index].$error.required">
                                                <localize key="ns_validationRequired"></localize>
                                            </span>
                                            <span ng-if="workspaceForm['mergeFieldAlias' + $index].$dirty && workspaceForm['mergeFieldAlias' + $index].$error.pattern">
                                                <localize key="ns_workspace_customFieldValidationAliasPattern"></localize>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="ns-table-cell ">
                                        <button class="btn" ng-click="vm.customFieldRemove(field)" type="button">
                                            <localize key="ns_remove"></localize>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-outline" ng-click="vm.customFieldAdd()" type="button" ng-if="vm.model.customFields.length < 10">
                            <localize key="ns_workspace_customFieldAdd"></localize>
                        </button>

                    </div>

                </div>

                <div class="ns-section ns-instant-validation">
                    <h5>
                        <localize key="ns_workspace_campaignProvidersAndEmailEditorSettings"></localize>
                    </h5>
                    <div class="ns-box ns-workspace-settings-providers-and-editor">
                        <p>
                            <localize key="ns_workspace_campaignProvidersAndEmailEditorSettingsInfo"></localize>
                        </p>
                        <div>
                            <div class="control-group">
                                <h5><localize key="ns_workspace_providersAndEmailRecipientProviders"></localize></h5>
                                <ns-checkbox-list
                                        name="recipientProviders"
                                        required
                                        options="vm.recipientListProviders"
                                        ng-model="vm.model.recipientProviders"
                                    >
                                </ns-checkbox-list>
                                <span ng-if="workspaceForm.recipientProviders.$error.required">
                                    <localize key="ns_workspace_providersAndEmailRecipientProviderRequired"></localize>
                                </span>
                            </div>
                            <div>
                                <h5><localize key="ns_workspace_providersAndEmailCampaignMergeFieldProviders"></localize></h5>
                                <ns-checkbox-list
                                        name="campaignMergeFieldProviders"
                                        options="vm.campaignMergeFieldProviders"
                                        ng-model="vm.model.campaignMergeFieldProviders"
                                >
                                </ns-checkbox-list>
                            </div>
                         
                            <div>
                                <h5><localize key="ns_workspace_availableEmailEditorControls"></localize></h5>
                                <label>
                                    <input type="checkbox" ng-model="vm.model.allEmailControls" /> <localize key="ns_all"></localize>
                                </label>
                                <ns-checkbox-list
                                        ng-if="vm.model.allEmailControls == false"
                                        name="emailControls"
                                        options="vm.emailControls"
                                        ng-model="vm.model.emailControls"
                                >
                                </ns-checkbox-list>
                            </div>
                            <div class="control-group">
                                <h5><localize key="ns_workspace_allowedThemes"></localize></h5>
                                <ns-checkbox-list
                                        name="themes"
                                        required
                                        options="vm.themes"
                                        ng-model="vm.model.themes"
                                >
                                </ns-checkbox-list>
                                <span ng-if="workspaceForm.themes.$error.required">
                                    <localize key="ns_workspace_providersAndEmailThemesRequired"></localize>
                                </span>
                            </div>
                            <div>
                                <h5><localize key="ns_workspace_defaultTheme"></localize></h5>
                                <select class="ns-select" ng-model="vm.model.defaultTheme">
                                    <option value="" ns-localize-inner="ns_workspace_noDefaultTheme"></option>
                                    <option ng-repeat="theme in vm.getSelectableDefaultThemes()" value="{{theme.id}}">{{theme.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ns-section ns-instant-validation">
                    <h5>
                        <localize key="ns_workspace_transactionalProvidersAndEmailEditorSettings"></localize>
                    </h5>
                    <div class="ns-box ns-workspace-settings-providers-and-editor">
                        <p>
                            <localize key="ns_workspace_transactionalProvidersAndEmailEditorSettingsInfo"></localize>
                        </p>

                        <div>
                            <div>
                                <h5><localize key="ns_workspace_availableEmailEditorControls"></localize></h5>
                                <label>
                                    <input type="checkbox" ng-model="vm.model.transactionalAllEmailControls" /> <localize key="ns_all"></localize>
                                </label>
                                <ns-checkbox-list
                                        ng-if="vm.model.transactionalAllEmailControls == false"
                                        name="transactionalEmailControls"
                                        options="vm.emailControls"
                                        ng-model="vm.model.transactionalEmailControls"
                                >
                                </ns-checkbox-list>
                            </div>
                            <div>
                                <h5><localize key="ns_workspace_providersAndEmailTransactionalMergeFieldProviders"></localize></h5>
                                <ns-checkbox-list
                                        name="transactionalMergeFieldProviders"
                                        options="vm.transactionalMergeFieldProviders"
                                        ng-model="vm.model.transactionalMergeFieldProviders"
                                >
                                </ns-checkbox-list>
                                
                            </div>
                            <div class="control-group">
                                <h5><localize key="ns_workspace_allowedThemes"></localize></h5>
                                <ns-checkbox-list
                                        name="transactionalThemes"
                                        required
                                        options="vm.themes"
                                        ng-model="vm.model.transactionalThemes"
                                >
                                </ns-checkbox-list>
                                <span ng-if="workspaceForm.transactionalThemes.$error.required">
                                    <localize key="ns_workspace_providersAndEmailThemesRequired"></localize>
                                </span>
                            </div>
                            <div>
                                <h5><localize key="ns_workspace_defaultTheme"></localize></h5>
                                <select class="ns-select" ng-model="vm.model.transactionalDefaultTheme">
                                    <option value="" ns-localize-inner="ns_workspace_noDefaultTheme"></option>
                                    <option ng-repeat="theme in vm.getSelectableTransactionalDefaultThemes()" value="{{theme.id}}">{{theme.label}}</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="ns-section ns-instant-validation">
                    <h5>    
                        <localize key="ns_workspace_BaseUrlSectionHeading"></localize>
                    </h5>
                    <div class="ns-box">
                        <label class="control-group ns-label-full">
                            <span>
                                <span><localize key="ns_workspace_BaseUrl"></localize></span>
                                <small><localize key="ns_workspace_BaseUrlDescription"></localize></small>
                            </span>
                            <span>
                                <input type="text" name="baseUrl" validate-url ng-model="vm.model.baseUrl" />
                                <span ng-if="workspaceForm.baseUrl.$error.url">
                                    <localize key="ns_workspace_BaseUrlValidationUrl"></localize>
                                </span>
                            </span>
                        </label>
                        
                    </div>
                </div>
                <div class="ns-section">
                    <h5>
                        <localize key="ns_workspace_emailServiceProviderSettings"></localize>
                    </h5>
                    <div class="ns-box">
                        
                        <select ng-model="vm.model.emailServiceProvider.alias" ng-change="vm.emailServiceProviderChanged()">
                            <option ng-repeat="provider in vm.emailServiceProviders" value="{{provider.alias}}">{{provider.displayName}}</option>
                        </select>
                        
                        <br /><br />
                        
                        <ng-include src="vm.selectedEmailServiceProvider.view" ng-if="vm.selectedEmailServiceProvider.view && vm.selectedEmailServiceProvider.view !== ''">
                        </ng-include>
                        
                    </div>
                </div>
                <div class="ns-section">
                    <h5>
                        <localize key="ns_workspace_removeWorkspace"></localize>
                    </h5>
                    <div class="ns-box">
                        <p><localize key="ns_workspace_removeWorkspaceInfo"></localize></p>
                        <button class="btn btn-danger" type="button" ng-click="vm.removeWorkspace()">
                            <localize key="ns_workspace_removeWorkspaceBtn"></localize>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ns-toolbox">

                <a ng-href="{{vm.nsLocation.getViewPath('administration','','')}}" class="btn btn-link"><localize key="general_cancel"></localize></a>
                
                <umb-button
                        type="submit"
                        button-style="success"
                        state="vm.btnSaveState"
                        shortcut="ctrl+s"
                        label-key="ns_save">
                </umb-button>
            </div>
        </div>
    </form>
</div>