<div ng-controller="NewsletterStudio.Controllers.CampaignController as vm" class="ns-campaign ns-fullscreen-editor">

    <div class="ns-content-wrapper ns-campaign-editor">
    
        <style>
            /*Style-resets to that the email editor can be "on top" of everything else*/
            #contentwrapper {
                /* left: 0 !important;*/
            }
            /* Removes the menu to the left. Can't be hidden with z-index. */
            #leftcolumn {
                display: none;
            }
            /* Makes notification span the whole screen, otherwise it starts where the left-menu ends */
            .umb-notifications {
                left: 0 !important;
            }
        </style>
    
        <div class="ns-steps-progress-bar">
            <ul>
                <li ng-click="vm.toStep1()" ng-class="{'current' : vm.currentStep == 1, 'done' : vm.currentStep > 1}">
                    <span>
                        <i class="icon icon-notepad-alt"></i>
                        <span>
                            <localize key="ns_information"></localize>
                        </span>
                        <span class="small-circle"><i class="icon icon-check"></i></span>
                    </span>
                </li>
                <li class="ns-divider"></li>
                <li ng-click="vm.toStep2()" ng-class="{'current' : vm.currentStep == 2, 'done' : vm.currentStep > 2}">
                    <span>
                        <i class="icon icon-layout"></i>
                        <span>
                            <localize key="ns_content"></localize>
                        </span>
                        <span class="small-circle"><i class="icon icon-check"></i></span>
                    </span>
                </li>
                <li class="ns-divider"></li>
                <li ng-click="vm.toStep3()" ng-class="{'current' : vm.currentStep == 3, 'done' : vm.currentStep > 3}">
                    <span>
                        <i class="icon icon-display"></i>
                        <span>
                            <localize key="ns_preview"></localize>
                        </span>
                        <span class="small-circle"><i class="icon icon-check"></i></span>
                    </span>
                </li>
                
                <li class="ns-divider"></li>
    
                <li ng-click="vm.toStep4()" ng-class="{'current' : vm.currentStep == 4}">
                    <span>
                        <i class="icon icon-outbox"></i>
                        <span>
                            <localize key="ns_send"></localize>
                        </span>
                        <span class="small-circle"><i class="icon icon-check"></i></span>
                    </span>
                </li>
            </ul>
        </div>
            
        <div class="ns-campaign-editor__steps ns-steps">
            <div class="ns-campaign-editor__step-info" ng-show="vm.currentStep == 1">
                <div>
                    <ng-form name="vm.formInformation" val-form-manager novalidate>
                        <div class="alert alert-warning" ng-if="vm.sendType == 'schedule'">
                            <i class="icon icon-time"></i> <localize key="ns_campaignEdit_campaignIsScheduled"></localize>
                        </div>
                        <label class="control-group control-group-wide">
                            <div>
                                <span><localize key="ns_campaignName"></localize> <strong class="umb-control-required">*</strong></span>    
                            </div>
                            <div>
                                <input name="name" type="text" ng-model="vm.data.campaign.name" required />
                                <ns-validation-error for="name" alias="required" key="ns_validationGenericNameRequired"></ns-validation-error>
                            </div>
                        </label>
                        <label class="control-group control-group-wide">
                            <div>
                                <span><localize key="ns_campaignSubject"></localize></span>
                            </div>
                            <div>
                                <input name="subject" type="text" ng-model="vm.data.campaign.subject" ng-required="vm.triedToSend" />
                                <ns-validation-error for="subject" alias="required" key="ns_validationCampaignSubjectRequired"></ns-validation-error>
                            </div>
                        </label>
                        <label class="control-group control-group-wide" ng-if="!vm.data.senderDefaultsForced">
                            <div>
                                <span><localize key="ns_senderName"></localize></span>    
                            </div>
                            <div>
                                <input name="senderName" type="text" ng-model="vm.data.campaign.senderName" ng-required="vm.triedToSend" />
                                <ns-validation-error for="senderName" alias="required" key="ns_validationCampaignSenderNameRequired"></ns-validation-error>
                            </div>
                        </label>
                        <label class="control-group control-group-wide" ng-if="!vm.data.senderDefaultsForced">
                            <div>
                                <span><localize key="ns_senderEmail"></localize> <strong class="umb-control-required">*</strong></span>    
                            </div>
                            <div>
                                <input type="email" name="senderEmail" ng-model="vm.data.campaign.senderEmail" required />
                                <ns-validation-error for="senderEmail" alias="email" key="ns_validationCampaignSenderEmailValid"></ns-validation-error>
                                <ns-validation-error for="senderEmail" alias="required" key="ns_validationCampaignSenderEmailRequired"></ns-validation-error>
                            </div>
                        </label>
                        <label class="control-group control-group-wide">
                            <div>
                                <span><localize key="ns_previewText"></localize></span>
                                <small><localize key="ns_previewText__desc"></localize></small>    
                            </div>
                            <div>
                                <ns-textarea-counter ng-model="vm.data.campaign.content.previewText" recommended-length="98"></ns-textarea-counter>    
                            </div>
                        </label>
                        
                        <label class="control-group control-group-wide">
                            <div>
                                <span><localize key="ns_theme"></localize></span>    
                            </div>
                            <div>
                                <select name="" ng-model="vm.data.campaign.themeAlias" ng-change="vm.setCurrentTheme()" required class="ns-select">
                                    <option ng-repeat="option in vm.data.themes" ng-value="option.alias">{{option.alias}}</option>
                                </select>    
                            </div>
                        </label>
                        <div class="center-container">
                            
                            <button class="btn btn-success" ng-click="vm.toStep2()"><localize key="ns_nextStep"></localize></button>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="ns-step-2" ng-if="vm.currentStep == 2">
                <div>
                    <ns-email-editor email="vm.data.campaign.content"
                                     control-types="vm.data.controlTypes"
                                     toolbox-controls="vm.data.editorToolboxControls"
                                     fonts="vm.data.fonts"
                                     theme="vm.selectedTheme">
                    </ns-email-editor>
                </div>
            </div>
            <div ng-if="vm.currentStep == 3 && vm.step3Loading">
                <umb-load-indicator
                        ng-if="vm.step3Loading">
                </umb-load-indicator>
            </div>
            <div class="ns-campaign-editor__step-preview" ng-if="vm.currentStep == 3 && vm.step3Loading==false">
                
                <div>
    
                    <div class="ns-email-preview" ng-class="{'ns-email-preview-desktop' : vm.previewWidth == 900, 'ns-email-preview-mobile' : vm.previewWidth == 350}">
                        <ns-preview-iframe src="vm.getPreviewUrl()"></ns-preview-iframe>
                    </div>
                    
                </div>
                <div class="ns-nice-scroll">
    
                    <div class="ns-device-buttons">
                        <button ng-click="vm.previewWidth=900" ng-class="{'ns-selected' : vm.previewWidth == 900}">
                            <i class="icon icon-display"></i>
                            <localize key="ns_desktop"></localize>
                        </button>
                        <button ng-click="vm.previewWidth=350" ng-class="{'ns-selected' : vm.previewWidth == 350}">
                            <i class="icon icon-display"></i>
                            <localize key="ns_mobile"></localize>
                        </button>
                    </div>
                    <hr/>
                    
                    <form val-form-manager novalidate>
                        <label>
                            <span><localize key="ns_sender"></localize>:</span>
                            <p>{{vm.data.campaign.senderName}} &lt;{{vm.data.campaign.senderEmail}}&gt;<br/></p>
                        </label>
                        <label>
                            <span><localize key="ns_subject"></localize>:</span>
                            <p>{{vm.data.campaign.subject}}</p>
                        </label>
                        <label>
                            <span><localize key="ns_campaignEdit_introText"></localize>:</span>
                            <p>{{vm.data.campaign.content.previewText}}</p>
                        </label>
                    </form>
                    
                    <hr/>
                    <div class="ns-preview-sendtest">
                        <form>
                            <label>
                                <span>
                                    <localize key="ns_campaignEdit_sendTestEmail"></localize>
                                </span>
                                <input type="email" placeholder="@ns_campaignEdit_enterEmail" localize="placeholder" ng-model="vm.previewSendTestToEmail" required />
                            </label>
                            <umb-button
                                    type="button"
                                    button-style="success"
                                    state="vm.btnSendTestState"
                                    shortcut="ctrl+s"
                                    label-key="ns_campaignEdit_sendTestEmail"
                                    action="vm.sendTestEmail()">
                            </umb-button>
                            
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            <div class="ns-campaign-editor__step-send" ng-show="vm.currentStep == 4">
                
                <div>
                    <form name="vm.formSend" val-form-manager>
                        <div class="ns-panel">
                            <div>
                                <localize key="ns_recipients"></localize>
                            </div>
                            
                            <div class="control-group">
                                
                                <ns-recipient-list-picker 
                                        name="recipientLists"
                                        ng-model="vm.data.campaign.recipientLists" 
                                        workspace-key="vm.data.campaign.workspaceKey"
                                        ng-required="vm.triedToSend"
                                />
                                
                                <ns-validation-error for="recipientLists" alias="required" key="ns_validationCampaignRecipientsRequired"></ns-validation-error>
                            </div>
                        </div>
        
                        <div class="ns-panel ns-panel-sendout">
                            <div>
                                <localize key="ns_campaignEdit_sendOptions"></localize>
                            </div>
                            <div>
                                <div ng-if="!vm.data.sendingValidation.userHasSendingPermissions" class="alert alert-error">
                                    <localize key="ns_campaignEdit_noSendPermissions"></localize>
                                </div>
                                <div ng-if="vm.data.sendingValidation.hasWorkspaceValidationIssues" class="alert alert-error">
                                    <localize key="ns_campaignEdit_workspaceValidationErrors"></localize>
                                </div>
                                <div ng-if="!vm.data.sendingValidation.hasValidLicense" class="alert alert-warning">
                                    <localize key="ns_campaignEdit_noValidLicense"></localize>
                                </div>
                                <div ng-if="vm.data.sendingValidation.userHasSendingPermissions && !vm.data.sendingValidation.hasWorkspaceValidationIssues">
                                    <label>
                                        <input type="radio" name="when" value="now" ng-model="vm.sendType" /> <localize key="ns_campaignEdit_sendNow"></localize>
                                    </label>
                                    <label>
                                        <input type="radio" name="when" value="schedule" ng-model="vm.sendType" /> <localize key="ns_campaignEdit_scheduleFor"></localize>
                                    </label>
                                    <div ng-show="vm.sendType === 'schedule'">
                                        <umb-property-editor model="vm.dateTimeProperty">
                                        </umb-property-editor>
                                    </div>
    
                                    <button class="btn btn-success" ng-click="vm.saveAndSendOrSchedule()" ng-if="vm.sendType">
                                        <span ng-if="vm.sendType=='schedule'"><localize key="ns_campaignEdit_schedule"></localize></span>
                                        <span ng-if="vm.sendType=='now'"><localize key="ns_campaignEdit_sendNow"></localize></span>
                                    </button>
                                    <button class="btn btn-danger" ng-click="vm.cancelScheduledSendOut()" ng-if="vm.sendType=='schedule'">
                                        <localize key="ns_campaignEdit_cancelScheduled"></localize>
                                    </button>
                                </div>
                                
                                <div ng-if="vm.validationErrors && vm.validationErrors.length > 0" class="alert alert-error ns-alert-error">
                                    <div ng-click="vm.resetValidationErrors()">x</div>
                                    <localize key="ns_campaignEdit_validationHeader"></localize>
                                    <ul>
                                        <li ng-repeat="error in vm.validationErrors">
                                            <localize key="{{error.localizationKey}}"></localize>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ns-fullscreen-editor__footer">
            <div>
                <button ng-click="vm.close()" class="btn btn-link">
                    <localize key="ns_close"></localize>
                </button>
                <umb-button
                        type="button"
                        button-style=""
                        state="vm.btnSaveAndClose.state"
                        label-key="ns_saveAndClose"
                        action="vm.saveAndClose()">
                </umb-button>
                <umb-button
                        type="button"
                        button-style="success"
                        state="vm.btnSave.state"
                        shortcut="ctrl+s"
                        label-key="ns_save"
                        action="vm.save()">
                </umb-button>
            </div>
        </div>
    </div>
</div>