<div ng-controller="NewsletterStudio.Controllers.MailingListsOverviewController as vm" class="ns-mailinglists-overview ns-content-wrapper">

    <umb-load-indicator ng-if="!vm.data"></umb-load-indicator>
    
    <div class="ns-content-header">
        <a ng-href="{{vm.nsLocation.getViewPath('mailinglist-details','-1')}}" class="btn btn-action" data-elm="ml-create">
            <localize key="ns_createNew"></localize>
        </a>
    </div>
    <div class="ns-content ns-content--full-height" ng-if="vm.data">
        <div class="ns-lists">
            <a ng-href="{{vm.nsLocation.getViewPath('mailinglist-details', list.key)}}" class="ns-infobox ns-infobox-center" ng-repeat="list in vm.data.lists">
                <span>{{list.name}}</span>
                <div>
                    <p>{{list.activeSubscribers | number}}</p> 
                    <small><localize key="ns_stats_activeSubscribers"></localize></small>
                </div>

            </a>

        </div>
    </div>
    
</div>