<div ng-controller="NewsletterStudio.Controllers.TransactionalOverviewController as vm" class="ns-content-wrapper ns-transactional-overview">
    
    <umb-load-indicator ng-if="false == true"></umb-load-indicator>

    <div class="ns-content-header">
        <a ng-href="{{vm.nsLocation.getViewPath('transactional','-1')}}" class="btn btn-action">
            <localize key="ns_createNew"></localize>
        </a>    
    </div>
    <div class="ns-content ns-content--full-height">
        <ns-transactional-log ng-if="vm.log" transactional-email-id="" log="vm.log"></ns-transactional-log>
    </div>
</div>