<div class="ns-font-picker">

    <div ng-click="toggleDropdown()">
        <p>{{selectedItem.displayName}}</p>
        <span>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28.35px" height="14.17px" viewBox="0 0 28.35 14.17" enable-background="new 0 0 28.35 14.17" xml:space="preserve">
                <g>
                    <g>
                        <path d="M1.697,2.198C5.166,5.726,8.634,9.253,12.103,12.78c0.703,0.714,2.755,0.73,3.454,0
			c3.372-3.527,6.745-7.055,10.117-10.582c1.273-1.332-2.582-1.921-3.453-1.01c-3.373,3.527-6.745,7.055-10.118,10.582
			c1.151,0,2.303,0,3.454,0C12.088,8.243,8.62,4.716,5.151,1.188C4.267,0.289,0.411,0.89,1.697,2.198L1.697,2.198z" />

                    </g>
                </g>
            </svg>
        </span>
    </div>
    <div ng-show="showDropdown">
        <div>
            <div></div>
            <div ng-click="setSelected(item)"><localize key="ns_notSpecified"></localize></div>
        </div>
        <div ng-repeat="group in itemGroups">
            <div>{{group.title}}</div>
            <div ng-repeat="item in group.definitions" ng-click="setSelected(item)" ng-class="{'selected' : item.fontFamilyValue == selectedItem.fontFamilyValue}">
                <span ng-style="{'font-family' : item.fontFamilyValue}">
                    {{item.displayName}}
                </span>
            </div>
        </div>
    </div>

    <!-- Includes any custom "@font-face"-declarations configured -->
    <ns-html html="'<style>' + cssValues + '</style>'"></ns-html>
    
    <!-- includes any custom Google Fonts  -->
    
    <link ng-href="https://fonts.googleapis.com/css?family={{googleValue}}" rel="stylesheet" type="text/css">

</div>