<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfeb45ea-13ca-443d-9b32-8c7444777248" Alias="[BlockList]Main Content" Level="1">
  <Info>
    <Name>[BlockList]Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d42facd8-b42d-407f-89c7-0e6fd83af46c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text'+$index}} {{$settings.hide=='1'?'(HIDDEN)':''}}",
      "settingsElementTypeKey": "57b2131b-7687-4ffb-9977-101523d4cdf7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b1cdd23b-6eab-41ec-8f74-67603f4d2e5b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row'+$index}} {{$settings.hide=='1'?'(HIDDEN)':''}}",
      "settingsElementTypeKey": "7b4e5eaf-d67a-43b5-86a3-ebf0de5c62ae",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e83e1f74-37fb-4b07-a55b-1935ba9cdf59",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title!=''?title:'Featured Item' +$index}} {{$settings.hide==true?'(HIDDEN)':''}}",
      "settingsElementTypeKey": "05d8443b-5820-407d-b286-b342e6b4412d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>