<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dd39e3d-2cf3-4b34-aab2-2f00c35f230d" Alias="Block visiablity Settings - Hide - Toggle" Level="1">
  <Info>
    <Name>Block visiablity Settings - Hide - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>