<?xml version="1.0" encoding="utf-8"?>
<DataType Key="811c3bbc-e486-43a3-9bed-1fa0081d221c" Alias="[BlockList]Image Links" Level="1">
  <Info>
    <Name>[BlockList]Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0fec6321-94d3-43d7-9369-c4eee2a20e2e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title!=''?title:'Image Link Item' +$index}} {{$settings.hide==true?'(HIDDEN)':''}}",
      "settingsElementTypeKey": "6e6c18d8-07c4-405c-ac7b-0cf50312dabd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>