<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96198456-2c10-4287-afdf-c4bd10512677" Alias="[Multi URL Picker]Singel URL Picker" Level="1">
  <Info>
    <Name>[Multi URL Picker]Singel URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>