<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d0dfc3-720d-4ece-8f38-54ca1bc1d019" Alias="News - Governorate - Multinode Treepicker" Level="1">
  <Info>
    <Name>News - Governorate - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/4665fa6c508947ffb40a0587e19523a6",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>