<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ec1afbe-5143-4c85-b37b-a904b03ef5ec" Alias="About Bg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-07T10:32:10</CreateDate>
    <NodeName Default="About Bg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xcxncxsd/about-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>