<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3e171ed-d44c-4314-b8cf-8ae92c5d369a" Alias="Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-07T10:30:32</CreateDate>
    <NodeName Default="Banner" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nypdq0m/banner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>