<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a21b8a3-4004-4c54-adf4-a5eb25f91a0d" Alias="Meric Dagli 7Nbo76g5jse Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MericDagli7Nbo76g5jseUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-05T09:56:41</CreateDate>
    <NodeName Default="Meric Dagli 7Nbo76g5jse Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uw2cc4qe/meric-dagli-7nbo76g5jse-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>