<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad98e6b6-eb92-40d9-8d53-86e95a70a9b5" Alias="Post Sample Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PostSampleImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-07T10:32:10</CreateDate>
    <NodeName Default="Post Sample Image" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wdtjrlms/post-sample-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>