<div class="ns-email-editor-control-wrapper ns-email-editor-control-macro"
     ng-style="{'padding-top' : control.padding.top,
                'padding-bottom' : control.padding.bottom,
                'padding-left' : control.padding.left,
                'padding-right' : control.padding.right
                    }">
    
        <div>
                <span class="icon icon-settings-alt"></span>
        </div>
        
        <div ng-if="control.meta.label && control.meta.label !=''">
                <localize key="ns_control_macro"></localize>: {{control.meta.label}}
        </div>
        <div ng-if="!control.meta.label || control.meta.label ==''">
                <localize key="ns_control_macro_choose"></localize>
        </div>
        
</div>