<div ng-controller="NewsletterStudio.Controllers.EmailEditorControls.MacroEditController as editVm"
     ng-init="editVm.init(vm,vm.selectedControl)">

    <div class="ns-property-group">
        <ns-umb-property label="ns_control_macro_choose" description="">
            <select name="macro" ng-model="editVm.control.macroPath" ng-change="editVm.macroChanged()" required="" class="ns-select">
                <option value="">--- Choose Macro ---</option>
                <option ng-repeat="option in editVm.macros" ng-value="option.id">{{option.label}}</option>
            </select>
        </ns-umb-property>
    </div>

    <div class="ns-property-group">
        <ns-umb-property label="ns_margin" description="">
            <ns-margin-editor ng-model="editVm.control.padding"></ns-margin-editor>
        </ns-umb-property>
    </div>
    
</div>