<?xml version="1.0" encoding="utf-8"?>
<Content Key="32e1f75b-0dd2-441d-ba76-b84202ba2bb8" Alias="About" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-07T10:32:43</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed6202b5-a0f7-4d80-b911-fe1adb5d12a3">ContentPage</Template>
  </Info>
  <Properties>
    <content_Body>
      <Value><![CDATA[<p>fffff</p>]]></Value>
    </content_Body>
    <content_Main>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/80a493ab01b547e3abecad016aa4b1cd",
        "settingsUdi": "umb://element/5cde8b3579af4e37bc03ccff6bad5540"
      },
      {
        "contentUdi": "umb://element/b9fe06a8dde94b28b015251abda17609",
        "settingsUdi": "umb://element/8d34bb98661c40aebad2c4d3deee2820"
      },
      {
        "contentUdi": "umb://element/e51baa1101af42d9b10af7a2ec34e0ca",
        "settingsUdi": "umb://element/0874521b2fcb447296ca0e49dd10eb22"
      },
      {
        "contentUdi": "umb://element/9ecbfdded2134488adc96fd2c4d8f17c",
        "settingsUdi": "umb://element/213a3aef8d5244af9f93b1a50254daff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d42facd8-b42d-407f-89c7-0e6fd83af46c",
      "udi": "umb://element/80a493ab01b547e3abecad016aa4b1cd",
      "richTextRowContent": "<p>Rich Text rowContent</p>\n<p> </p>\n<p>Rich Text rowContent</p>\n<p> </p>\n<p>Rich Text rowContent</p>"
    },
    {
      "contentTypeKey": "d42facd8-b42d-407f-89c7-0e6fd83af46c",
      "udi": "umb://element/e51baa1101af42d9b10af7a2ec34e0ca",
      "richTextRowContent": "<p>Rich Text rowContent2</p>"
    },
    {
      "contentTypeKey": "b1cdd23b-6eab-41ec-8f74-67603f4d2e5b",
      "udi": "umb://element/b9fe06a8dde94b28b015251abda17609",
      "imageRow_Image": [
        {
          "key": "cf284b50-7d64-4a01-8fba-6dc53ebe9088",
          "mediaKey": "ad98e6b6-eb92-40d9-8d53-86e95a70a9b5"
        }
      ],
      "imageRow_Caption": "instrument",
      "imageRow_Link": [
        {
          "name": "https://www.youtube.com/watch?v=-MhxbsytJQA&t=100s",
          "url": "https://www.youtube.com/watch?v=-MhxbsytJQA&t=100s"
        }
      ]
    },
    {
      "contentTypeKey": "e83e1f74-37fb-4b07-a55b-1935ba9cdf59",
      "udi": "umb://element/9ecbfdded2134488adc96fd2c4d8f17c",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e3214bdded6c4a66a60f15ec8e092785",
              "settingsUdi": "umb://element/a5a89c1e072b47c887f927c9238c2207"
            },
            {
              "contentUdi": "umb://element/16d10795ea6540c0b591ddc7c6b9175d",
              "settingsUdi": "umb://element/9dc42c56cb834fcfb495bde001e0107c"
            },
            {
              "contentUdi": "umb://element/29efea995cd441fab0024ab4fe680a1c",
              "settingsUdi": "umb://element/fb607f69f11d4545b348c5462d137385"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "0fec6321-94d3-43d7-9369-c4eee2a20e2e",
            "udi": "umb://element/e3214bdded6c4a66a60f15ec8e092785",
            "title": "cat1",
            "description": "dds",
            "image": [
              {
                "key": "1091d899-a7ac-4446-a910-19df362bebc4",
                "mediaKey": "e24a836a-4ff8-4688-a72c-ec7d36c83cb2"
              }
            ],
            "link": [
              {
                "name": "youtube",
                "target": "_blank",
                "url": "https://www.youtube.com/watch",
                "queryString": "?v=-MhxbsytJQA&t=100s"
              }
            ]
          },
          {
            "contentTypeKey": "0fec6321-94d3-43d7-9369-c4eee2a20e2e",
            "udi": "umb://element/16d10795ea6540c0b591ddc7c6b9175d",
            "title": "second",
            "description": "hh",
            "image": [
              {
                "key": "cf927c09-6822-4b1e-a8fe-800cca31d1bb",
                "mediaKey": "ad98e6b6-eb92-40d9-8d53-86e95a70a9b5"
              }
            ],
            "link": [
              {
                "name": "Contact Me",
                "udi": "umb://document/42cd121de16d49a298cfb49111e9f582"
              }
            ]
          },
          {
            "contentTypeKey": "0fec6321-94d3-43d7-9369-c4eee2a20e2e",
            "udi": "umb://element/29efea995cd441fab0024ab4fe680a1c",
            "title": "third",
            "description": "jj",
            "image": [
              {
                "key": "663cf3ef-45e7-4da0-8966-d0f99ffb5cb0",
                "mediaKey": "7a21b8a3-4004-4c54-adf4-a5eb25f91a0d"
              }
            ],
            "link": [
              {
                "name": "github",
                "url": "https://github.com/prjseal/Umbraco-10-Tutorial/blob/main/Clean.Site/Views/Partials/blocklist/Components/featuredItemsRow.cshtml",
                "queryString": "?v=LzL08ZebJZ0&ab_channel=sameerNPC"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "6e6c18d8-07c4-405c-ac7b-0cf50312dabd",
            "udi": "umb://element/a5a89c1e072b47c887f927c9238c2207",
            "hide": "0"
          },
          {
            "contentTypeKey": "6e6c18d8-07c4-405c-ac7b-0cf50312dabd",
            "udi": "umb://element/9dc42c56cb834fcfb495bde001e0107c",
            "hide": "0"
          },
          {
            "contentTypeKey": "6e6c18d8-07c4-405c-ac7b-0cf50312dabd",
            "udi": "umb://element/fb607f69f11d4545b348c5462d137385",
            "hide": "0"
          }
        ]
      },
      "title": "Featured Title",
      "description": "Featured Desc"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57b2131b-7687-4ffb-9977-101523d4cdf7",
      "udi": "umb://element/5cde8b3579af4e37bc03ccff6bad5540",
      "hide": "0"
    },
    {
      "contentTypeKey": "57b2131b-7687-4ffb-9977-101523d4cdf7",
      "udi": "umb://element/0874521b2fcb447296ca0e49dd10eb22",
      "hide": "1"
    },
    {
      "contentTypeKey": "7b4e5eaf-d67a-43b5-86a3-ebf0de5c62ae",
      "udi": "umb://element/8d34bb98661c40aebad2c4d3deee2820",
      "hide": "0"
    },
    {
      "contentTypeKey": "05d8443b-5820-407d-b286-b342e6b4412d",
      "udi": "umb://element/213a3aef8d5244af9f93b1a50254daff",
      "visibility_Hide": "0"
    }
  ]
}]]></Value>
    </content_Main>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "0672b0c5-c726-4fd6-b35a-b780b848f447",
    "mediaKey": "5ec1afbe-5143-4c85-b37b-a904b03ef5ec"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[About Me1]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[About1]]></Value>
    </header_title>
    <visibility_Hide>
      <Value><![CDATA[0]]></Value>
    </visibility_Hide>
  </Properties>
</Content>