<?xml version="1.0" encoding="utf-8"?>
<Content Key="32e1f75b-0dd2-441d-ba76-b84202ba2bb8" Alias="About" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-07T10:32:43</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed6202b5-a0f7-4d80-b911-fe1adb5d12a3">ContentPage</Template>
  </Info>
  <Properties>
    <content_Body>
      <Value><![CDATA[<p>fffff</p>]]></Value>
    </content_Body>
    <content_Main>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/80a493ab01b547e3abecad016aa4b1cd",
        "settingsUdi": "umb://element/5cde8b3579af4e37bc03ccff6bad5540"
      },
      {
        "contentUdi": "umb://element/b9fe06a8dde94b28b015251abda17609",
        "settingsUdi": "umb://element/8d34bb98661c40aebad2c4d3deee2820"
      },
      {
        "contentUdi": "umb://element/e51baa1101af42d9b10af7a2ec34e0ca",
        "settingsUdi": "umb://element/0874521b2fcb447296ca0e49dd10eb22"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d42facd8-b42d-407f-89c7-0e6fd83af46c",
      "udi": "umb://element/80a493ab01b547e3abecad016aa4b1cd",
      "richTextRowContent": "<p>Rich Text rowContent</p>\n<p> </p>\n<p>Rich Text rowContent</p>\n<p> </p>\n<p>Rich Text rowContent</p>"
    },
    {
      "contentTypeKey": "d42facd8-b42d-407f-89c7-0e6fd83af46c",
      "udi": "umb://element/e51baa1101af42d9b10af7a2ec34e0ca",
      "richTextRowContent": "<p>Rich Text rowContent2</p>"
    },
    {
      "contentTypeKey": "b1cdd23b-6eab-41ec-8f74-67603f4d2e5b",
      "udi": "umb://element/b9fe06a8dde94b28b015251abda17609",
      "imageRow_Image": [
        {
          "key": "cf284b50-7d64-4a01-8fba-6dc53ebe9088",
          "mediaKey": "ad98e6b6-eb92-40d9-8d53-86e95a70a9b5"
        }
      ],
      "imageRow_Caption": "instrument",
      "imageRow_Link": [
        {
          "name": "https://www.youtube.com/watch?v=-MhxbsytJQA&t=100s",
          "url": "https://www.youtube.com/watch?v=-MhxbsytJQA&t=100s"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57b2131b-7687-4ffb-9977-101523d4cdf7",
      "udi": "umb://element/5cde8b3579af4e37bc03ccff6bad5540",
      "hide": "0"
    },
    {
      "contentTypeKey": "57b2131b-7687-4ffb-9977-101523d4cdf7",
      "udi": "umb://element/0874521b2fcb447296ca0e49dd10eb22",
      "hide": "1"
    },
    {
      "contentTypeKey": "7b4e5eaf-d67a-43b5-86a3-ebf0de5c62ae",
      "udi": "umb://element/8d34bb98661c40aebad2c4d3deee2820",
      "hide": "0"
    }
  ]
}]]></Value>
    </content_Main>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "0672b0c5-c726-4fd6-b35a-b780b848f447",
    "mediaKey": "5ec1afbe-5143-4c85-b37b-a904b03ef5ec"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[About Me1]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[About1]]></Value>
    </header_title>
    <visibility_Hide>
      <Value><![CDATA[0]]></Value>
    </visibility_Hide>
  </Properties>
</Content>