<?xml version="1.0" encoding="utf-8"?>
<Content Key="32e1f75b-0dd2-441d-ba76-b84202ba2bb8" Alias="About" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-07T10:32:43</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed6202b5-a0f7-4d80-b911-fe1adb5d12a3">ContentPage</Template>
  </Info>
  <Properties>
    <content_Body>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </content_Body>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "0672b0c5-c726-4fd6-b35a-b780b848f447",
    "mediaKey": "5ec1afbe-5143-4c85-b37b-a904b03ef5ec"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[About Me1]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[About1]]></Value>
    </header_title>
    <visibility_Hide>
      <Value><![CDATA[0]]></Value>
    </visibility_Hide>
  </Properties>
</Content>