<?xml version="1.0" encoding="utf-8"?>
<Content Key="4476e5a9-52fe-4092-b0a2-ef1817780625" Alias="Alex" Level="3">
  <Info>
    <Parent Key="4665fa6c-5089-47ff-b40a-0587e19523a6">GovernorateList</Parent>
    <Path>/Home/GovernorateList/Alex</Path>
    <Trashed>false</Trashed>
    <ContentType>governorate</ContentType>
    <CreateDate>2022-09-12T15:23:31</CreateDate>
    <NodeName Default="Alex" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f3c0823-3a5c-4df9-8ab4-e97aabd67a70">Governorate1</Template>
  </Info>
  <Properties>
    <governorateTitle>
      <Value><![CDATA[Alex]]></Value>
    </governorateTitle>
  </Properties>
</Content>