<?xml version="1.0" encoding="utf-8"?>
<Content Key="370fe2bf-c4d2-4ff8-81d9-f49862f2dbef" Alias="Blog2" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/Blog2</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-09-07T11:03:40</CreateDate>
    <NodeName Default="Blog2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ba1c1a2-b45c-4818-aae0-5a9dc76b39c3">ArticleListPage</Template>
  </Info>
  <Properties>
    <content_Body>
      <Value><![CDATA[<p>sdfsdf</p>
<p>sd</p>
<p>f</p>
<p>sdaf</p>]]></Value>
    </content_Body>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "247e9b5e-4544-40c3-ad2e-4c5937f16c85",
    "mediaKey": "4fa50a9b-a2c8-416f-8528-10bdd0cc98ca"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[ announcent-feature image]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[blog]]></Value>
    </header_title>
    <visibility_Hide>
      <Value><![CDATA[0]]></Value>
    </visibility_Hide>
  </Properties>
</Content>