<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a011379-6eec-4b67-adaf-4dd39acd09d7" Alias="Cairo" Level="3">
  <Info>
    <Parent Key="4665fa6c-5089-47ff-b40a-0587e19523a6">GovernorateList</Parent>
    <Path>/Home/GovernorateList/Cairo</Path>
    <Trashed>false</Trashed>
    <ContentType>governorate</ContentType>
    <CreateDate>2022-09-12T15:22:24</CreateDate>
    <NodeName Default="Cairo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f3c0823-3a5c-4df9-8ab4-e97aabd67a70">Governorate1</Template>
  </Info>
  <Properties>
    <governorateTitle>
      <Value><![CDATA[Cairo]]></Value>
    </governorateTitle>
  </Properties>
</Content>