<?xml version="1.0" encoding="utf-8"?>
<Content Key="42cd121d-e16d-49a2-98cf-b49111e9f582" Alias="Contact Me" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/ContactMe</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-09-07T11:10:58</CreateDate>
    <NodeName Default="Contact Me" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6fa6d4c2-74b0-468c-a348-0a7cc02e4eaf">ContactPage</Template>
  </Info>
  <Properties>
    <contact_email>
      <Value><![CDATA[fatmazayed@gmail.com]]></Value>
    </contact_email>
    <contact_message>
      <Value><![CDATA[NJ1]]></Value>
    </contact_message>
    <contact_Name>
      <Value><![CDATA[fatma zayed ]]></Value>
    </contact_Name>
    <contact_phone>
      <Value><![CDATA[0109331152521]]></Value>
    </contact_phone>
    <content_Body>
      <Value><![CDATA[<p>Want to gets in touch? Fill ou1t the form below to send me a message and I will get back to you as soon as possible!</p>]]></Value>
    </content_Body>
    <content_Main>
      <Value><![CDATA[]]></Value>
    </content_Main>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "3f523614-9422-441f-a92d-7aaec22e04ac",
    "mediaKey": "358ccc68-f2c0-4dd8-84cb-952ced63f09d"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[Have questions? I have answers.1]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[Contact Me]]></Value>
    </header_title>
    <visibility_Hide>
      <Value><![CDATA[0]]></Value>
    </visibility_Hide>
  </Properties>
</Content>