<?xml version="1.0" encoding="utf-8"?>
<Content Key="4665fa6c-5089-47ff-b40a-0587e19523a6" Alias="GovernorateList" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/GovernorateList</Path>
    <Trashed>false</Trashed>
    <ContentType>governorateList</ContentType>
    <CreateDate>2022-09-12T15:21:44</CreateDate>
    <NodeName Default="GovernorateList" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="12c43b30-fde9-4be9-bc9e-86f9b4373f29">GovernorateList</Template>
  </Info>
  <Properties />
</Content>