<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-09-05T09:30:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c0cf878-b3b7-4936-887a-6a2cce63cb3c">HomePage</Template>
  </Info>
  <Properties>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "d4c987b8-2ad6-460a-bb8a-d07a1dd34f4f",
    "mediaKey": "7a21b8a3-4004-4c54-adf4-a5eb25f91a0d"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[A Blog Theme by Start Bootstrap]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[Home Page]]></Value>
    </header_title>
    <site_Nav_NavElement>
      <Value><![CDATA[[
  {
    "key": "1e384780-d1be-420f-a765-cdc5f62f56c2",
    "name": "[[NavElement_Title]]",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "navElement_Title": "Home",
    "navElement_Link": [
      {
        "name": "Home",
        "udi": "umb://document/3d9a55119291450aa24c7b1b1ffaa144"
      }
    ],
    "navElement_ChildLinks": null
  },
  {
    "key": "5b9aa3b7-9cb0-4d18-a1be-590c1d5825b7",
    "name": "[[NavElement_Title]]",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "navElement_Title": "About",
    "navElement_Link": [
      {
        "name": "About",
        "udi": "umb://document/32e1f75b0dd2441dba76b84202ba2bb8"
      }
    ],
    "navElement_ChildLinks": null
  },
  {
    "key": "2833809c-bcd1-4342-b769-88cdb46e70b4",
    "name": "[[NavElement_Title]]",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "navElement_Title": "Blog",
    "navElement_Link": null,
    "navElement_ChildLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/370fe2bfc4d24ff881d9f49862f2dbef"
      },
      {
        "name": "first item",
        "url": "#testng1"
      },
      {
        "name": "second item",
        "url": "#testng2",
        "queryString": "#testng2"
      }
    ]
  },
  {
    "key": "bee0f73b-868f-4e33-9044-c340aa0627c5",
    "name": "[[NavElement_Title]]",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "navElement_Title": "Contact Us",
    "navElement_Link": [
      {
        "name": "Contact Me",
        "udi": "umb://document/42cd121de16d49a298cfb49111e9f582"
      }
    ],
    "navElement_ChildLinks": null
  }
]]]></Value>
    </site_Nav_NavElement>
  </Properties>
</Content>