<?xml version="1.0" encoding="utf-8"?>
<Content Key="b789e21b-0737-40db-bed1-d7ff2448ec38" Alias="News" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2022-09-12T11:10:33</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e6f5a94-0a12-4fc7-a953-fc566f54c3be">News</Template>
  </Info>
  <Properties>
    <footer_SoicalLinks>
      <Value><![CDATA[]]></Value>
    </footer_SoicalLinks>
    <governorate>
      <Value><![CDATA[umb://document/3a0113796eec4b67adaf4dd39acd09d7]]></Value>
    </governorate>
    <header_Image>
      <Value><![CDATA[[
  {
    "key": "79a23970-2513-4d7e-8f30-756fc3874e78",
    "mediaKey": "5ec1afbe-5143-4c85-b37b-a904b03ef5ec"
  }
]]]></Value>
    </header_Image>
    <header_SubTitle>
      <Value><![CDATA[]]></Value>
    </header_SubTitle>
    <header_title>
      <Value><![CDATA[News]]></Value>
    </header_title>
    <newsTitle>
      <Value><![CDATA[News Content]]></Value>
    </newsTitle>
  </Properties>
</Content>