<?xml version="1.0" encoding="utf-8"?>
<Content Key="b789e21b-0737-40db-bed1-d7ff2448ec38" Alias="News" Level="2">
  <Info>
    <Parent Key="3d9a5511-9291-450a-a24c-7b1b1ffaa144">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2022-09-12T11:10:33</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5e6f5a94-0a12-4fc7-a953-fc566f54c3be">News</Template>
  </Info>
  <Properties>
    <newsTitle>
      <Value><![CDATA[news 26-3  Nahla-Editor3]]></Value>
    </newsTitle>
  </Properties>
</Content>