<div ng-controller="NewsletterStudio.Controllers.Dialogs.ImportRecipientsController as vm"
     class="ng-dialog-import-recipients">

    <umb-editor-view>

        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div ng-show="vm.step == 'step1'" class="step1">

                <umb-box>
                    <umb-box-content>

                        <div class="step1-header">
                            <div>
                                <localize key="ns_importRecipients_instructions">[Paste the new subscribers in the
                                    textarea below or upload a CSV-file.]
                                </localize>
                            </div>
                            <div>
                                <input id="fupload" type="file" ns-file-upload style="display: none;"/>
                                <button class="btn btn-warning" onclick="fupload.click()">
                                    <span class="icon icon-cloud-upload"></span>
                                    <localize key="ns_importRecipients_importFromFile">[Import from file]</localize>
                                </button>
                            </div> 
                        </div>
                        <div>
                            <div class="example-placeholder">
                                john@johnson.com;John;Johnsson<br>henry.brown@supercompany.com;Henry;Brown
                            </div>
                            <textarea
                                    ng-paste="vm.didPaste($event)"
                                    class="import-text"
                                    ng-model="vm.rawText"
                                    data-elm="ml-import-text"
                            >
                            </textarea>
                        </div>
                        <div>
                            <umb-button action="vm.sendPastedToServer()"
                                        type="button"
                                        button-style="action"
                                        state="vm.parseButtonState"
                                        label-key="ns_import"
                                        data-elm="ml-import-import"
                                        disabled="!vm.rawText">
                            </umb-button>
                        </div>


                    </umb-box-content>
                </umb-box>

            </div>
            <div ng-show="vm.step == 'mappings'" class="ns-step-mappings" data-elm="ml-import-step2">

                <umb-box>
                    <umb-box-content>
                        <p>Please map each column to the right field on a Recipient.</p>
                    </umb-box-content>
                </umb-box>

                <div class="ns-mappings">
                    <div ng-repeat="column in vm.fileFieldMappings.fileColumnHeaders">

                        <div>
                            <select ng-model="column.selectedRecipientMergeField">
                                <option value="">--- Don't map ---</option>
                                <option ng-repeat="rField in vm.fileFieldMappings.recipientFields"
                                        value="{{rField.mergeFieldAlias}}">{{rField.displayText}}
                                </option>
                            </select>
                            
                        </div>
                        <div class="ns-panel">
                            <div>
                                {{column.displayText}}
                            </div>
                            <div>
                                <div class="ns-panel-row" ng-repeat="example in column.examples">
                                    {{example}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <umb-box>
                    <umb-box-content>
                        <div ng-show="vm.mappingError">
                            <p>The column for e-mail must be matched</p>
                        </div>
                        <umb-button action="vm.performImport()"
                                    type="button"
                                    button-style="action"
                                    state="vm.importButtonState"
                                    label-key="ns_continue">
                        </umb-button>
                    </umb-box-content>
                </umb-box>
            </div>
            <div ng-show="vm.step=='importing'">
                
                <umb-box>
                    <umb-box-content>
                        
                        Importing....
                        <umb-load-indicator></umb-load-indicator>
                        
                    </umb-box-content>
                </umb-box>
                
            </div>
            <div ng-show="vm.step == 'done'"> 
                
                <div class="ns-panel ns-panel-transparent">
                    <div>
                        Import successful
                    </div>
                    <div>
                        <table class="ns-table-import">
                            <tbody>
                            <tr>
                                <td>Total recipients uploaded</td>
                                <td>{{vm.importResult.total}}</td>
                            </tr>
                            <tr>
                                <td>Total imported</td>
                                <td>{{vm.importResult.imported}}</td>
                            </tr>
                            <tr>
                                <td>Already existing</td>
                                <td>{{vm.importResult.existingRecipients}}</td>
                            </tr>
                            <tr>
                                <td>Ignored duplicates</td>
                                <td>{{vm.importResult.duplicatesInInput}}</td>
                            </tr>
                            <tr ng-show="vm.mailingListKey !== ''">
                                <td>Added to maling list</td>
                                <td>{{vm.importResult.addedToMailingList}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br/> 
                        <div ng-if="vm.importResult.issues.length > 0" data-elm="ml-import-summary-ignore">
                            <button ng-click="vm.submit()" class="btn btn-success">Done, close and ignore issues</button>    
                        </div>
                        <div ng-if="vm.importResult.issues.length == 0" data-elm="ml-import-summary-done">
                            <button ng-click="vm.submit()" class="btn btn-success" >Done, close</button>    
                        </div>
                        
                    </div>
                </div>
                
                <div class="ns-panel ns-panel-transparent" ng-show="vm.importResult.issues.length > 0">
                    <div>
                        Issues
                    </div>
                    <div>
                        <p>The following rows could not be added since the e-mail provided was invalid. To import any of these, make sure the e-mail is valid and click "Add"</p>
                        
                        <table class="table table-striped ns-table-import-issues">
                            <thead>
                            <tr>
                                <th>
                                    <localize key="ns_email">[E-mail]</localize>
                                </th>
                                <th>
                                    <localize key="ns_firstname">[Firstname]</localize>
                                </th>
                                <th>
                                    <localize key="ns_lastname">[Lastname]</localize>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr ng-repeat="recipient in vm.importResult.issues">
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="recipient.email"
                                           ng-disabled="recipient.done"
                                           name="email"
                                           ng-change="vm.reValidate(recipient)"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           ng-model="recipient.firstname"
                                           ng-disabled="recipient.done"
                                           name="firstname"/>
                                </td>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           ng-model="recipient.lastname"
                                           ng-disabled="recipient.done"
                                           name="lastname"/>
                                </td>
                                {{model.done}}
                                <td>
                                    <button class="btn btn-action" 
                                            ng-disabled="!recipient.valid" 
                                            ng-click="vm.importFixedIssue(recipient)" 
                                            ng-show="!recipient.done">
                                        Add
                                    </button>
                                    <span class="icon icon-check" ng-show="recipient.done"></span>

                                </td>
                            </tr>
                        </table>

                        <button ng-click="vm.submit()" class="btn btn-success">Done</button>
                    </div>
                </div>
            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

    <script>
        $(document).ready(function () {

            setTimeout(function () {

                var selectorPlaceholder = 'div.example-placeholder';
                var selectorTextarea = 'textarea.import-text';

                $(selectorPlaceholder).click(function () {
                    $(selectorTextarea).focus();
                });

                $(selectorTextarea).keydown(function () {
                    $(selectorPlaceholder).hide();
                });

                $(selectorTextarea).keyup(function () {

                    if ($(selectorTextarea).val() == '') {
                        $(selectorPlaceholder).show();
                    } else {
                        $(selectorPlaceholder).hide();
                    }
                });

            }, 250);


        });
    </script>

</div>