<div ng-controller="NewsletterStudio.Controllers.EmailEditorControls.ButtonEditController as editVm"
     ng-init="editVm.init(vm,vm.selectedControl)">
    
    <div class="ns-property-group">
        <ns-umb-property label="ns_buttonText" description="">
            <input type="text" ng-model="editVm.control.buttonText" />
        </ns-umb-property>
    </div>
    <div class="ns-property-group">
        <ns-umb-property label="ns_buttonLink" description="">
            <ns-link-editor ng-model="editVm.control.buttonLink"></ns-link-editor>
        </ns-umb-property>
    </div>
    <div class="ns-property-group two-cols">
        <ns-umb-property label="ns_backgroundColor" description="">
            <ns-color-picker ng-model="editVm.control.backgroundColor" color-list="vm.themeColors"></ns-color-picker>
        </ns-umb-property>
        <ns-umb-property label="ns_textColor" description="">
            <ns-color-picker ng-model="editVm.control.textColor" color-list="vm.themeColors" picker-to="left"></ns-color-picker>
        </ns-umb-property>
        <div>
            <ns-umb-property label="ns_inverted" description="">
                <input type="checkbox" ng-model="editVm.control.isInverted" />
            </ns-umb-property>
        </div>
        <div>

        </div>
        <ns-umb-property label="ns_align" description="">
            <ns-toggle-button ng-model="editVm.control.align" options="vm.toggleOptionsAlign"></ns-toggle-button>
        </ns-umb-property>
        <ns-umb-property label="ns_size" description="">
            <ns-toggle-button ng-model="editVm.control.buttonSize" options="editVm.toggleOptionsSize"></ns-toggle-button>
        </ns-umb-property>
    </div>
    <div class="ns-property-group">
        <ns-umb-property label="ns_margin" description="">
            <ns-margin-editor ng-model="editVm.control.padding"></ns-margin-editor>
        </ns-umb-property>
    </div>
    
</div>
