<div class="ns-margin-editor">

    <div class="ns-margin-collapsed" ng-show="!expanded">
        <input type="text" ng-model="paddingAll" ng-click="select($event)" ns-only-numbers />
        <button class="btn" ng-click="expand()"><i class="icon icon-navigation"></i></button>
    </div>
    <div class="ns-margin-expanded" ng-show="expanded">
        <button class="btn" ng-click="collapse()"><i class="icon icon-navigation"></i></button>
        <div>
            <div class="ns-margin-info">Top</div>
            <input type="text" ng-model="paddingTop.value" ng-click="select($event)" ns-only-numbers />
            <div class="ns-margin-up" ng-click="up(paddingTop)">
                <i class="icon icon-navigation-up"></i>
            </div>
            <div class="ns-margin-down" ng-click="down(paddingTop)">
                <i class="icon icon-navigation-down"></i>
            </div>
        </div>
        <div>
            <div class="ns-margin-info">Bottom</div>
            <input type="text" ng-model="paddingBottom.value" ng-click="select($event)" ns-only-numbers />
            <div class="ns-margin-up" ng-click="up(paddingBottom)">
                <i class="icon icon-navigation-up"></i>
            </div>
            <div class="ns-margin-down" ng-click="down(paddingBottom)">
                <i class="icon icon-navigation-down"></i>
            </div>
        </div>
        <div>
            <div class="ns-margin-info">Left</div>
            <input type="text" ng-model="paddingLeft.value" ng-click="select($event)" ns-only-numbers />
            <div class="ns-margin-up" ng-click="up(paddingLeft)">
                <i class="icon icon-navigation-up"></i>
            </div>
            <div class="ns-margin-down" ng-click="down(paddingLeft)">
                <i class="icon icon-navigation-down"></i>
            </div>
        </div>
        <div>
            <div class="ns-margin-info">Right</div>
            <input type="text" ng-model="paddingRight.value" ng-click="select($event)" ns-only-numbers />
            <div class="ns-margin-up" ng-click="up(paddingRight)">
                <i class="icon icon-navigation-up"></i>
            </div>
            <div class="ns-margin-down" ng-click="down(paddingRight)">
                <i class="icon icon-navigation-down"></i>
            </div>
        </div>
    </div>

</div>